
:root {
    --primary: #689A48;
    --secondary:#98C379;
    --white:#fff;
    --back:#000;
    --red:#F80000;
    --ligth-green: #6DFF04;
    --bleu: #07B1F5;
    --bleu-light:#85DCFF;
    --yellow: #F5E907;
    --yellow-ligth:#D7CC01;
    --box-shadow:1px 1px .5rem rgba(0, 0, 0, 0.5);
}