header > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.logout {
  background-color: var(--red);
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  height: 2.7rem;
}

.profile {
  display: flex;
  gap: 0.5rem;
}

.profile-icon {
  background-color: var(--secondary);
  height: 2rem;
  width: 2rem;
  padding: 1.3rem;
  border-radius: 50%;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.profile-name {
  color: var(--white);
}

.profile-name > h4 {
  text-transform: uppercase;
}

.search_option {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr;
  gap: 1rem;
}

.search_option input {
  width: 100%;
}

.search_option p {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.search_option p span {
    font-weight: bold;
}
