header > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.logout {
  background-color: var(--red);
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  height: 2.7rem;
}

.profile {
  display: flex;
  gap: 0.5rem;
}

.profile-icon {
  background-color: var(--secondary);
  height: 2rem;
  width: 2rem;
  padding: 1.3rem;
  border-radius: 50%;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.profile-name {
  color: var(--white);
}

.profile-name > h4 {
  text-transform: uppercase;
}

main > div {
  width: 70rem !important;
}

.main_footer {
  width: 70rem !important;
}

.search_option {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr;
  gap: 1rem;
}

.search_option input {
  width: 100%;
}

.search_option p {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.search_option p span {
  font-weight: bold;
}

.task_list {
  height: 40vh;
  overflow: scroll;
}

.task_list div h4 {
  font-weight: 500;
}

.task_item {
  border-top: 1px solid var(--secondary);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.action {
    display: flex;
    gap: 4rem;
}

.bage {
  padding: 0.2rem 0;
  text-align: center;
  width: 8rem;
  height: 1.7rem;
  border-radius: 40px;
}

.bage-light-green {
  background-color: var(--ligth-green);
}
.bage-bleu {
  background-color: var(--bleu);
}
.bage-yellow {
  background-color: var(--yellow);
}
