@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("colors.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-height: 100vh;
}

header {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 100%;
}

header h1 {
  color: var(--white);
  text-transform: uppercase;
}

header small {
  font-size: 1.1rem;
}

main {
  /* height: 40rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  bottom: 3rem;
}

main form {
  background-color: var(--white);
  height: auto;
  width: 50rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

input {
  border: 2px solid var(--secondary);
  padding: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  outline-color: var(--primary);
}

form button {
  background-color: var(--secondary);
  padding: 1rem 4rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
  background-color: var(--primary);
  transform: scale(1.03);
}

main footer {
  background-color: var(--primary);
  width: 50rem;
  height: 6rem;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 6rem;
}

footer small a {
  color: var(--white);
  font-weight: bold;
}

footer {
  text-align: center;
  font-weight: 500;
}

@media (max-width: 480px) {
  header {
    height: 9rem;
    justify-content: start;
    padding-top: 2rem;
  }
  header h1 {
    font-size: 1.1rem;
  }

  header small {
    font-size: 0.8rem;
  }
  main form {
    width: 21rem;
  }
  main footer {
    flex-direction: column;
    width: 21rem;
    gap: 1rem;
  }

  form button {
    font-size: 1.2rem;
  }
}
